<div [formGroup]="form">
  <label [attr.for]="config.key">{{config.label}}</label>

  <div [ngSwitch]="config.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="config.key"
            [id]="config.key" [type]="config.type">

    <select [id]="config.key" *ngSwitchCase="'dropdown'" [formControlName]="config.key">
      <option *ngFor="let opt of config.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{config.label}} is required</div>
</div>
